.div{
	background-color:#F5F5F5;
	color:#F5F5F5;
	display: block;
}
.container{
	width: 100%;
}
/*navigation menu starts here*/

.nav ul {
	 	text-decoration: none;
	 	list-style-type: none;
}
.nav li {
		float: left;
		display: block;
		color: black;
}

.nav li a:link, nav li a:visited {
	display: block;
	background-color: #F5F5F5;
	font-family: 'Parisienne', cursive; 
	width: 145px;
	text-align: center;
	text-decoration: none;
}
.nav li a:hover, nav li a:active{
	background-color: #F5F5F5;
	color: gray;
}

/* Change the link color on hover */

.header {
	background-color: #F5F5F5;
	display: block;
	text-align: center;
	width: 100%;
	font-family: 'Parisienne', cursive;
	color:#OEOFOF;
	clear: both;
}
/*update events and employees info*/
.side {
	background-color: #F5F5F5;
	display: inline-block;
	width: 250px;
	height: 800px;
	text-align: center;
	font-family: 'Parisienne', cursive;
	color: #OEOFOF;
}
/*main should have new images updated regularly*/ 
.main{
	background-color: #F5F5F5;
	display: inline-block;
	clear: right;
	width: 750;
	height: 800px;
	text-align: center;
	vertical-align: top;
	font-family: 'Parisienne', cursive;
	color: #OEOFOF;
}
.img {
	width:100%;
}
/*update copyright on footer if there are changes*/

.footer {
	background-color: #F5F5F5;
	text-align: center;
	display: block;
	clear: both;
	width: 100%;
	font-family: 'Pacifico';
	color: #OEOFOF;
}
.h1 {display: inline-block;
	clear: right;
}