.div{}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	}
/*navigation menu starts here*/


.nav {
	background-color: pink;
	border-color: black;
	display: block;
	color: black;
	text-align: center;
	width:959px;
	position: static;
}

.header {
	background-color: lightblue;
	display: block;
	text-align: center;
	width: 959px;
	position: static;
}
.side {
	background-color: pink;
	display: inline-block;
	width: 150px;
	height: 709px;
	height: 800px;
	position: static;
	text-align: center;
	vertical-align: top;
	font-family: sans-serif;
	font-style: italic;
}
.main{
	background-color: grey;
	display: inline-block;
	width: 800px;
	height: 800px;
	text-align: center;
	position: static;
}
.footer {
	background-color: lightblue;
	text-align: center;
	display: block;
	clear: both;
	width: 959px;
	position: static;
}